<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the resourece page</h1>
    <% for (const item of data) {%>
    <section>
        <div class="post-header"> post header
            <div class="username-category">
               Username: <%= item.name%> ------ Topic: <%=item.topic%>
            </div>
        </div>
        <div>
           Title:  <%= item.title%> <br>
          URL:  <%= item.url%> <br>
          Description: <%= item.description%> <br>
        </div>
        <button>More Details</button>
        </div>
    </section>
    <%}%>

</body>
</html>

<!-- {
    id: 40,
    owner_id: 5,
    category_id: 5,
    title: 'SURFING',
    url: 'https://www.youtube.com/watch?v=ma67yOdMQfs',
    description: 'These Were The All-Time Surfing Moments Of The Year | Best Of 2020'
  } -->
