<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/styles/resources.css">
    <title>resources</title>
</head>
<body>
    <%- include('partials/_header') %>
    <% for (const item of data) {%>
    <section class="resource-section">
        <div class="post-header">
            <div>Created By: <%= item.name%> </div>
            <div> Category: <%=item.topic%></div>
        </div>
        <div class="body-div">
           <div>Title:  <%= item.title%></div>
           <div>URL:  <a class="a-url" href="<%= item.url%>"><%= item.url%> </a></div>
          <div>Description: <%= item.description%></div>
        </div>
        <div class="btn-div">
             <a href="/api/resources/<%- item.id %>"><button class="btn-details">More Details </button></a>
        </div>

    </section>
    <%}%>

</body>
</html>
